html {
    /* background-image: url(../img/FON-PHOTO.png);
    background-repeat: no-repeat;
    overflow-y: scroll;*/
    /* overflow-x: scroll;*/
    /*background-image: url(../img/FON-PHOTO.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    
    <!--background: url(../img/FON-PHOTO.png) no-repeat center center fixed;
    -->
}

<!--img.bg {
    /* Set rules to fill background */
    
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    
    width: 100%;
    height: auto;
    /* Set up positioning */
    
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    
    img.bg {
        left: 50%;
        margin-left: -512px;
        /* 50% */
    }
}

--> body {
    margin: 0;
}

#bg {
    position: relative;
}

header {
    position: absolute;
    font-family: HelveticaCyr200;
    color: #061721;
    font-size: 60px;
   /*  font-weight: 200;*/
    
    top: -30%;
    right: -38%;
}

@font-face {
    font-family: ThinHelvetica;
    src: url('../fonts/HelveticaNeue-ThinCond.otf');
}

@font-face {
    font-family: HelveticaCyr200;
    src: url('../fonts/HelveticaNeueUltraLight.ttf');
}

@font-face {
    font-family: HelveticaCyr300;
    src: url('../fonts/helveticaneuecyr-light.otf');
}

@font-face {
    font-family: HelveticaCyr;
    src: url('../fonts/helveticaneuecyr-roman.otf');
}

#weather_banner {
    background-image: url(../img/mask-copy.png);
    position: absolute;
    height: 357px;
    width: 902px;
    /*  display: inline;
    */
    
    top: 32%;
    left: 129px;
}

#temperature {
    position: absolute;
    /*
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
*/
    
    font-family: ThinHelvetica;
    color: #ffffff;
    font-size: 159.99px;
    font-weight: 100;
    /*  line-height: 30px;*/
    /*
    margin-left: 10%;
*/
    
    bottom: -18%;
    left: 12%;
}

#city {
    position: absolute;
    font-family: HelveticaNeueCyr;
    color: #fefefe;
    font-size: 72.01px;
    /*  line-height: 37.5px;*/
    
    text-align: center;
    font-weight: normal;
    top: 10%;
    left: 45%;
    text-align: center;
}

#time {
    position: absolute;
    font-family: ThinHelvetica;
    color: #ffffff;
    font-size: 47.99px;
    font-weight: 100;
    line-height: 37.5px;
    bottom: 20%;
    left: 45%;
}

#precipitation {
    position: absolute;
    left: 70%;
    top: 25%;
}

#calendar {
    margin-top: 10%;
    background-image: url(../img/bg.png);
    width: 340px;
    height: 357px;
    position: absolute;
    right: -37.7%;
    bottom: 0%;
}

#day_slider {
    background-color: #227e9c;
    width: 340px;
    height: 61px;
}
/*#day {
    
    top: -5%;
    left: 25%;
    font-family: Helvetica Neue;
    color: #ffffff;
    font-size: 30px;
    font-weight: 100;
    line-height: 37.5px;
    text-align: center;
}*/

#day  {
    position: absolute;
    font-family: ThinHelvetica;
    color: #ffffff;
    font-size: 30px;
    
    
    top: -5%;
    left: 33%;
   /*  top: -16.5px;
    left: 108.5px;*/
    /* Approximation due to font substitution */
    
/*
    font-weight: 100;
*/
    
/*
    line-height: 37.5px;
*/

    /* Approximation due to font substitution */
   /* margin: 0;
    text-align: center;
    padding-top: 10px;*/
}

#date {
    /*
    position: absolute;
*/
    
    top: 10%;
    font-family: ThinHelvetica;
    color: #227e9c;
    font-size: 160.01px;
    font-weight: 100;
    /*
    line-height: 37.5px;
*/
    
    margin: 0;
    text-align: center;
}

#month {
    font-family: HelveticaCyr300;
    color: #1f7998;
    font-size: 48px;
    font-weight: 300;
    line-height: 37.5px;
    text-align: center;
    /* margin-top: 150px;*/
    
    margin: 0;
}

#today {
    /*
    position: absolute;
*/
    
    font-family: HelveticaCyr;
    color: rgba(230, 74, 25, 0.7);
    font-size: 18px;
    line-height: 37.5px;
    text-align: center;
    /*bottom: 10%;
    right: 50%;*/
     margin-top: 6px;
    
    
}

.arrows_slider {
    position: absolute;
    top: 8%;
}

#left_arrow {

    left: 15%;

}

#right_arrow {
    right: 15%;
}